
.future_wrapper{
    width: 100%;
    margin:0 auto;
    .features_title{
        color:#252930;
        margin-bottom: 40px;
    }
    .feature_content{
        margin-top:100px;
    }
    .features_descr{
        margin:0 auto;
        width: 100%;
        display: grid;
        grid-template-areas: "feat_1 feat_2 feat_3"
                            "feat_1 feat_2 feat_4";
        grid-template-columns: 35% 30% 35%;
        grid-gap:20px;
        .feat_text{
            padding-top: 32px;
            padding-left: 32px;
            h1{
                font-size: 24px;
                line-height: 32px;

            }
        }

        .feat_1{
            grid-area: feat_1;
            color:white;
            height: 700px;
            background: #1C325D;
            background: url(../img/features/feat_1.png) no-repeat center bottom #1C325D ;

            background-repeat: no-repeat;
            object-fit: contain;
        }
        .feat_2{
            background-size: 100% 100%;
            grid-area: feat_2;
            color:#252930;
            background: url(../img/features/feat_2.png) no-repeat center center #F1F3F9 ;
        }
        .feat_3{
            background-size: 100% 100%;
            grid-area: feat_3;
            color:#fff;
            background: url(../img/features/feat_3.png) no-repeat center center #5B7BBB ;
        }
        .feat_4{
            background-size: 100% 100%;
            grid-area: feat_4;
            color:#252930;
            background: url(../img/features/feat_4.png) no-repeat 100% #F1F3F9 ;
        }

    }
}

@media (max-width:1050px) {
    .features{
        width: 100%;
        .future_wrapper{
            width: 100%;
            margin:0 auto;
        }
    }
    .features_descr{
        display:grid;
        grid-template-columns: repeat(2, 1fr)!important;
        grid-template-rows: repeat(2, 1fr)!important;
        grid-template-areas:
        "feat_1 feat_2"
        "feat_3 feat_4" !important;
        width: 100%;
        .feat_1, .feat_2, .feat_3, .feat_4{
            height: 350px !important;
        }

    }
}

@media (max-width:750px) {
    .features{
        width: 100%;
        .future_wrapper{
            width: 100%;
            margin:0 auto;
        }
    }
    .features_descr{
        display:flex !important;
        flex-direction: column;
        // margin:0 auto;
        .feat_1, .feat_2, .feat_3, .feat_4{
            height: 350px !important;
        }

    }


}