$white:#fff;
$black:rgba(23, 39, 85, 1);
$blue-opacity:rgba(111, 125, 251, 1);
$orange:#DA722C;
$pink:rgba(239, 42, 130, 1);
$txt: rgba(135, 148, 186, 1);
$text:18px;
$container:1154px;
$wrap:1600px;
$mc:0 auto;


@mixin flex($jc, $ai){
    display: flex;
    flex-wrap:wrap;
    align-items: $ai;
    justify-content: $jc;
}

@mixin line{
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #fff;
    border-radius: 50px;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 35px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
*{
    text-decoration: none;
    list-style: none;
}

body{
    background: rgba(248, 249, 255, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:$txt;
}



.wrapper{
    max-width: $wrap;
    margin: $mc;
}

